<!doctype html>
<html lang="zh-Hant-TW">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
    <div id="block1" class="row" style="margin: 10px">
        <div class="col-11">
            <table id="myTable" class="cell-border compact stripe" style="width:100%">
                <thead>
                    <tr>
                        <th>功能</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>isValid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>
                            <button v-if="item.isValid==true" class="btn btn-danger">刪除</button>
                            <label v-else class="btn badge badge-pill badge-danger">已刪除</label>
                        </td>
                        <td>{{item.ID}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.Phone}}</td>
                        <td>{{item.isValid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        var json =
        {
            items: [
                {
                    ID: 3,
                    title: "總裁", name: "Eric", PictureURL: "https://i.imgur.com/uxvy97n.png", Phone: "0912345678",
                    Address: "新竹市大同區二三五路四號六樓",
                    Memo: "澳洲來的人", isValid: true
                },
                {
                    ID: 4,
                    title: "瑪農", name: "David", PictureURL: "https://i.imgur.com/qsQcoGh.png", Phone: "0987654321",
                    Address: "台北市信義區忠孝東路231號3樓",
                    Memo: "充滿活力的廉價勞工", isValid: true
                },
                {
                    ID: 5,
                    title: "Boss", name: "Amy", PictureURL: "https://i.imgur.com/dfww1JX.png", Phone: "0912121121",
                    Address: "高雄市仁義區六六路3號23樓",
                    Memo: "小資女", isValid: false
                },
                {
                    ID: 6,
                    title: "總裁", name: "Eric", PictureURL: "https://i.imgur.com/uxvy97n.png", Phone: "0912345678",
                    Address: "新竹市大同區二三五路四號六樓",
                    Memo: "澳洲來的人", isValid: true
                },
                {
                    ID: 7,
                    title: "瑪農", name: "David", PictureURL: "https://i.imgur.com/qsQcoGh.png", Phone: "0987654321",
                    Address: "台北市信義區忠孝東路231號3樓",
                    Memo: "充滿活力的廉價勞工", isValid: false
                },
                {
                    ID: 8,
                    title: "Boss", name: "Amy", PictureURL: "https://i.imgur.com/dfww1JX.png", Phone: "0912121121",
                    Address: "高雄市仁義區六六路3號23樓",
                    Memo: "小資女", isValid: true
                }
            ]
        };

        function Binding() {
            new Vue(
                {
                    el: '#block1',
                    data: json
                }
            );
        }

        $(document).ready(function () {
            Binding();

            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 5
            });

        });
    </script>
</body>

</html>