<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script>
      var count = 0;
      var json = {
        items: [
          {
            ID: 3,
            title: "總裁",
            name: "Eric",
            PictureURL: "https://i.imgur.com/uxvy97n.png",
            Phone: "0912345678",
            Address: "新竹市大同區二三五路四號六樓",
            Memo: "澳洲來的人",
            isValid: true,
          },
          {
            ID: 4,
            title: "瑪農",
            name: "David",
            PictureURL: "https://i.imgur.com/qsQcoGh.png",
            Phone: "0987654321",
            Address: "台北市信義區忠孝東路231號3樓",
            Memo: "充滿活力的廉價勞工",
            isValid: true,
          },
          {
            ID: 5,
            title: "Boss",
            name: "Amy",
            PictureURL: "https://i.imgur.com/dfww1JX.png",
            Phone: "0912121121",
            Address: "高雄市仁義區六六路3號23樓",
            Memo: "小資女",
            isValid: true,
          },
        ],
      };
      function Binding() {
        //設定繫結
        vm = new Vue({
          el: "#block1",
          data: {
            item: json.items[count],
          },
        });
      }
      function next() {
        if (count < json.items.length - 1) {
          count++;
        } else {
          alert("你已經死了");
        }
        update();
      }
      function prev() {
        if (count > 0) {
          count--;
        } else {
          alert("你已經死了");
        }
        update();
      }
      function update() {
        vm.$data.item = json.items[count];
      }
      // function GetCurrentIndex() {
      //     return vm.$data.item.ID;
      // };

      $(function () {
        Binding();
        $("#btnNext").click(function () {
          next();
          // //取得當前資料ID編號
          // var CurrentIndex = GetCurrentIndex();
          // //尋找上一筆
          // var rets = $.grep(json.items, function (item, index) {
          //     return item.ID < CurrentIndex;
          // });
          // //如果有找到資料，則設定
          // if (rets.length > 0) {
          //     vm.$data.item = rets[rets.length - 1];
          // }
        });
        $("#btnPrev").click(function () {
          prev();
          // //取得當前資料ID編號
          // var CurrentIndex = GetCurrentIndex();
          // //尋找下一筆
          // var rets = $.grep(json.items, function (item, index) {
          //     return item.ID > CurrentIndex;
          // });
          // //如果有找到資料，則設定
          // if (rets.length > 0) {
          //     vm.$data.item = rets[0];
          // }
        });
      });
    </script>
  </head>

  <body>
    <div class="container" id="block1">
      <div class="row">
        <div class="col-6">
          <label>資料編號:{{item.ID}}</label>
          <br />
          <label>職稱:</label>
          <input class="form-control" type="text" v-model="item.title" />
          <label>姓名:</label>
          <input class="form-control" type="text" v-model="item.name" />
          <label>Phone:</label>
          <input class="form-control" type="text" v-model="item.Phone" />
        </div>
        <div class="col-6">
          <img v-bind:src="item.PictureURL" />
        </div>
        <br />
        <div class="col">
          <label>Address:</label>
          <input class="form-control" type="text" v-model="item.Address" />
          <label>Memo</label>
          <input class="form-control" type="text" v-model="item.Memo" />
          <br />
          <button id="btnPrev" class="btn btn-outline-primary">上一筆</button>
          <button id="btnNext" class="btn btn-outline-primary">下一筆</button>
        </div>
      </div>
    </div>
  </body>
</html>
